:root {
    --color-primary: #FD853A;
    --color-secondary: #171717;
    --color-header: #344054;
    --color-invert: #FCFCFD;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html {
    font-size: 14px;
  }
  
  body {
    padding: 0;
    margin: 0;
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  
  img {
    display: block;
    width: auto;
    max-width: 100%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
  
  p {
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    border: 0;
    outline: 0;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }
  
  input {
    border: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .container {
    width: 95rem;
    max-width: 100%;
    padding: 0 2rem;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #CBCBCB20;
    padding: 1rem;
    border-radius: 5rem;
    margin-bottom: 1rem;
    transition: opacity 0.3s ease; /* Animasi saat menghilang */
  }
  
  .header-title {
    color: var(--color-primary);
    font-family: 'Urbanist', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    margin: 0 1rem;
    transition: transform 0.1s ease-out, color 0.2s ease-out; 
  }

  .header-title-link:hover {
    color: #ff7f50;
    transform: translate(var(--offset-x, 0), var(--offset-y, 0)); 
  }

  .header-title-link:hover::after {
    transform: translateX(-50%) scale(1);
    background-color: #3498db; 
  }
  
  .header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    margin: 0 1rem;
  }
  
  .header-link {
    color: var(--color-secondary);
    font-size: 1.3rem;
    font-weight: 600;
    transition: transform 0.1s ease-out;

  }
  
  .header-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 6px;
    height: 6px;
    background-color: #FD853A;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0);
    transition: transform 0.2s ease-out, background-color 0.2s ease-out;
  }

  .header-link:hover {
    color: #FD853A;
    transform: translate(var(--offset-x, 0), var(--offset-y, 0)); 
  }

  .header-link:hover::after {
    transform: translateX(-50%) translateY(-50%) scale(1);
    background-color: #FD853A;
  }
  

/* ===== Footer Section ===== */

  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #272727;
  }
  
  .footer {
    padding: 4rem 0;
  }
  
  .footer-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .footer-title {
    color: var(--color-invert);
    font-size: 2.8rem;
    font-weight: 600;
  }
  
  .footer-subtitle {
    color: var(--color-primary);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .footer-action {
    color: #FFFFFF;
    background: var(--color-primary);
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 2rem;
  }
  
  .footer-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4rem;
  }
  
  .footer-content {
    flex: 3;
  }
  
  .footer-contact {
    flex: 1;
  }
  
  .footer-subscription {
    flex: 2;
  }
  
  .footer-description {
    color: var(--color-invert);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  
  .footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  
  .footer-contact-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .footer-contact-list a {
    color: var(--color-invert);
    font-size: 1rem;
    font-weight: 400;
  }
  
  .footer-link {
    width: 3rem;
  }
  
  .footer hr {
    border: 0;
    border-bottom: 2px solid #475467;
    margin: 2rem 0;
  }
  
  .hero {
    position: relative;
  }
  
  .hero-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    padding-bottom: 0;
  }
  
  .hero-title {
    width: 40rem;
  }
  
  .hero-profile {
    width: 45rem;
  }
  
  .hero-left,
  .hero-right {
    position: absolute;
    top: 45%;
    z-index: 100;
  }
  
  .hero-left {
    left: 2rem;
  }
  
  .hero-right {
    right: 2rem;
  }
  
  .hero-quote {
    width: 20rem;
  }
  
  .hero-experience {
    width: 10rem;
  }
  
  .expertise-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      background: url("./assets/img/bg-expertise.jpeg");
      background-size: cover;
  }

  .expertise-container::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6); /* Adjust opacity for brightness */
      z-index: 1;
  }

  .expertise-container > * {
      position: relative;
      z-index: 2;
  }

  
  .expertise {
    text-align: center;
    padding: 6rem 0;
  }
  
  .expertise-title {
    color: var(--color-invert);
    font-family: 'Urbanist', sans-serif;
    font-size: 3rem; /* Ukuran default untuk desktop */
    font-weight: 700;
    margin-bottom: 4rem; /* Margin default untuk desktop */
    text-align: center; /* Teks diatur ke tengah secara default */
}

/* Responsive Styles */
@media (max-width: 1024px) { /* Tablet */
    .expertise-title {
        font-size: 2.5rem; /* Ukuran lebih kecil untuk tablet */
        margin-bottom: 3rem; /* Margin lebih kecil untuk tablet */
    }
}

@media (max-width: 768px) { /* Tablet kecil atau HP besar */
    .expertise-title {
        font-size: 2rem; /* Ukuran lebih kecil */
        margin-bottom: 2.5rem; /* Margin lebih kecil */
    }
}

@media (max-width: 480px) { /* HP */
    .expertise-title {
        font-size: 1.8rem; /* Ukuran lebih kecil untuk HP */
        margin-bottom: 2rem; /* Margin lebih kecil untuk HP */
    }
}
  
  .expertise-title span {
    color: var(--color-primary);
  }
  
  .expertise-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }
  
  .expertise-box {
    height: 440px;
    flex: 1;
    background: #68686833;
    backdrop-filter: blur(1rem);
    border: 2px solid #FFFFFF50;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    transition: background ease-in-out 0.5s;
  }
  
  .expertise-animation {
    scale: 1;
    transition: all ease-in-out 0.4s;
  }
  
  .expertise-box:hover {
    cursor: pointer;
    background: var(--color-primary);
  }
  
  .expertise-box:hover .expertise-action {
    background: var(--color-primary);
  }
  
  .expertise-box:hover .expertise-animation {
    scale: 1.1;
  }
  
  .expertise-subtitle {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.5rem;
    text-align: left;
    border-bottom: 2px solid #FFFFFF50;
  }
  
  .expertise-display {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .expertise-display::before,
  .expertise-display::after {
    content: "";
    display: block;
    height: 1.25rem;
    background: red;
    border-radius: 2rem 2rem 0 0;
  }
  
  .expertise-display::before {
    background: #757575;
    width: 70%;
  }
  
  .expertise-display::after {
    background: #9E9D9D;
    width: 85%;
  }
  
  .expertise-img {
    border-radius: 2rem;
  }
  
  .expertise-offset {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
  }
  
  .expertise-action {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1D2939;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding: 0.75rem;
    transition: background ease-in-out 0.1s;
  }
  
  .expertise-call {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 400;
    background: transparent;
    color: #FFFFFF;
    padding: 1rem 2rem;
    border-radius: 4rem;
    border: 2px solid #FFFFFF;
    transition: all ease-in-out 0.1s;
  }
  
  
  .expertise .project {
    font-size: 1.2rem;
    width: calc(50% - 1rem);
    margin: 0 calc(25% + 0.5rem);
    text-align: left;
    border: 1px solid #9E9D9D;
    margin-bottom: 2rem;
  }

  .about {
      display: flex;
      flex-direction: row;
      height: auto;
      width: 95%;
      align-items: center;
      justify-content: center;
      padding: 7rem 0;
      gap: 4rem;
      margin: 0 auto; 
  }

  .about-wrap {
      display: flex;
      flex-direction: column;
      gap: 2rem;
  }

  
  .about-profile {
    min-width: 32.5rem;
    max-width: 32.5rem;
  }
  
  .about-title {
    color: var(--color-header);
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 3.8rem;
  }
  
  .about-title span {
    color: #FD853A;
  }
  
  .about-content {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-secondary);
  }
  
  .about-progress {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .progress {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .progress-title {
    color: var(--color-header);
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .progress-bg {
    width: 100%;
    height: 0.75rem;
    background: #EDECEC;
    border-radius: 1rem;
  }
  
  .progress-bar {
    display: block;
    height: 100%;
    background: #FD6F00;
    border-radius: 1rem;
    position: relative;
  }
  
  .progress-bar::after {
    content: "";
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    background: #EDECEC;
    border: 2px solid #FD6F00;
    border-radius: 50%;
    position: absolute;
    top: -0.4125rem;
    right: 0;
    transform: translateX(50%);
    box-shadow: 0px 3.7px 6.47px 0px #00000033;
  }
  
  .future-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #171717;
    background: var(--color-secondary);
    position: relative;
  }
  
  .future {
    padding: 6rem 0;
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .future-img {
    width: 30rem;
  }
  
  .future-title {
    color: var(--color-invert);
    font-family: 'Urbanist', sans-serif;
    font-weight: 800;
    font-size: 3rem;
  }
  
  .future-title span {
    color: var(--color-primary);
  }
  
  .future-paragraph {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .future-bg {
    position: absolute;
    height: 100%;
    width: 40%;
    opacity: 0.2;
    top: 0;
    right: 0;
    background: url("./assets/img/bg-future.png");
    background-size: cover;
    background-position: 50%;
  }
  
  .strip-container {
    width: 100%;
    overflow: hidden;
    background: var(--color-primary);
  }
  
  .strip-img {
    width: 100%;
    scale: 2;
  }

  .marquee-layer img {
    transform: scale(1.6);
}

  .recent {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  
  .recent-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }
  
  .recent-title {
    color: var(--color-header);
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    margin-bottom: -5px;
    font-size: 3.7rem;
  }
  
  .recent-title span {
    color: var(--color-primary);
  }
  
  .recent-action {
    color: #FFFFFF;
    background: var(--color-primary);
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 2rem;
  }
  
  .recent-wrap {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin: 4rem 0;
    margin-left: auto; 
    margin-right: auto; 
  }

  .recent-wrap .project {
    width: 80%;
    height: 550px
  }
  
  .project {
    width: 80%;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
  
  .project:hover .project-action {
    opacity: 1;
  }
  
  .project:hover .project-wrap {
    bottom: 1em;
    background: #00000030;
    backdrop-filter: blur(3rem);
  }
  
  .project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .project-wrap {
    position: absolute;
    left: 1em;
    right: 1em;
    bottom: -1.8em;
    background: transparent;
    padding: 1em;
    border-radius: 1.8rem;
    transition: all ease-in-out 0.4s;
  }
  
  .project-description {
    opacity: 0; 
  }

  .project:hover .project-description {
    opacity: 1; 
  }
  .project-title {
    color: var(--color-invert);
    font-size: 2.8em;
    font-weight: 700;
    margin-bottom: 0.25em;
  }
  
  .project-description {
    color: #FFEAD5;
    font-size: 1em;
    font-weight: 400;
  }
  
  .project-offset {
    position: absolute;
    top: 1em;
    right: 1em;
  }
  
  .project-action {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-primary);
    width: 5em;
    height: 5em;
    border-radius: 50%;
    padding: 1em;
    transition: opacity ease-in-out 0.4s;
    opacity: 0;
  }
  
  .input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .input-group input {
    padding: 0.65rem 1.25rem;
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .input-group button:hover {
      filter: brightness(1.3);
  }
  
  .input-group button {
    width: 2.75rem;
    height: 2.75rem;
    padding: 0.5rem;
    background: var(--color-primary);
    border-radius: 0 0.5rem 0.5rem 0;
  }
  
  .showcase {
    padding: 6rem 0;
  }
  
  .showcase-img {
    width: 45rem;
    margin: 0 4rem;
  }
  
  .showcase-category {
    display: flex;
    flex-direction: row;
    padding: 4rem 6rem;
    gap: 1.2rem;
  }
  
  .showcase-option {
    font-size: 1.4rem;
    font-weight: 400;
    background: transparent;
    color: var(--color-secondary);
    padding: 1rem 2rem;
    border-radius: 4rem;
    border: 2px solid #9E9D9D;
    transition: all ease-in-out 0.1s;
    position: relative;
    overflow: hidden;
  }
  .showcase-option::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FD853A;
    transition: top 0.5s ease-in-out;
    z-index: -1;
  }

  .showcase-option:hover::before {
    top: 0;
  }

  .showcase-option:hover,
  .showcase-option.active {
    border-color: #FD6F00;
  }

  .showcase-option.active {
    color: #FFFFFF;
    background: #FD853A;
  }

  .showcase-option span {
    display: inline-block;
    transition: transform 0.2s ease-out;
  }
  .showcase-project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.5rem;
    padding: 2rem 0; 
  }

  .showcase-project .project {
    font-size: 1.2rem;
    width: calc(50% - 2rem); 
  }

  @media (max-width: 480px) {
    .showcase-project .project {
      width: 100%; 
    }
  }
  
  .detail-container {
    width: 100%;
    height: 50rem;
    overflow: hidden;
    position: relative;
}

.detail {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: #00000040;
    backdrop-filter: blur(0.125rem);
}

.detail-collaborator {
    padding: 5rem 4rem;
    top: 10rem;
}

.detail-row {
    position: absolute;
    bottom: 7.5rem;
    padding: 5rem 4rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.detail-col {
    min-width: 15rem;
}

.detail-collab-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px #FFFFFF;
  margin: 0 1rem;
}

.detail-container img.detail-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
}

.detail-title {
    color: var(--color-primary);
    font-family: 'Urbanist', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.detail-subtitle {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 700;
}

.detail-description {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 600;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .detail-container {
        height: 40rem;
    }

    .detail-collaborator {
        padding: 3rem 2rem;
        top: 5rem;
    }

    .detail-row {
        padding: 3rem 2rem;
        bottom: 5rem;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
    }

    .detail-col {
        min-width: auto;
        text-align: center;
    }

    .detail-collab-img {
        width: 4rem;
        height: 4rem;
    }

    .detail-title {
        font-size: 1.2rem;
    }

    .detail-subtitle {
        font-size: 1.5rem;
    }

    .detail-description {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .detail-container {
        height: 35rem;
    }

    .detail-collaborator {
        padding: 2rem 1rem;
        top: 3rem;
    }

    .detail-row {
        padding: 2rem 1rem;
        bottom: 3rem;
        gap: 1rem;
    }

    .detail-collab-img {
        width: 3rem;
        height: 3rem;
    }

    .detail-title {
        font-size: 1rem;
    }

    .detail-subtitle {
        font-size: 1.2rem;
    }

    .detail-description {
        font-size: 1rem;
    }
}
  
.display {
  padding: 5rem 4rem;
}

.display-bg {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F2F4F7;
}

.display-title {
  color: var(--color-primary);
  font-family: 'Urbanist', sans-serif;
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  text-align: left; /* Default alignment untuk desktop */
}

.display-description {
  color: #666D85;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: justify; /* Default alignment untuk desktop */
}

.display-img {
  width: 80%;
  margin: 5% 10%;
  border-radius: 2rem;
}

/* Responsive Styles */
@media (max-width: 1024px) { /* Tablet */
  .display-title {
      font-size: 2.8rem; /* Ukuran lebih kecil untuk tablet */
  }

  .display-description {
      font-size: 1.1rem; /* Ukuran lebih kecil untuk tablet */
  }
}

@media (max-width: 768px) { /* Tablet kecil atau HP besar */
  .display-title {
      font-size: 2.4rem; /* Ukuran lebih kecil */
  }

  .display-description {
      font-size: 1rem; /* Ukuran lebih kecil */
  }
}

@media (max-width: 480px) { /* HP */
  .display {
      padding: 3rem 2rem; /* Padding lebih kecil untuk HP */
  }

  .display-title {
      font-size: 2rem; /* Ukuran lebih kecil untuk HP */
  }

  .display-description {
      font-size: 0.9rem; /* Ukuran lebih kecil untuk HP */
  }

  .display-img {
      width: 90%; /* Gambar lebih lebar untuk HP */
      margin: 5% 5%; /* Margin lebih kecil */
  }
}

  .marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: #FB6514;
    padding: 10px 0;
    position: relative;
}

.marquee-content {
    display: flex;
    white-space: nowrap;
    height: 3.5rem;
    animation: marquee 5s linear infinite;
}

.marquee-layer {
    display: flex;
    min-width: 100%;
    align-items: center;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100vw); }
}

.marquee-content img {
  width: 250vw;
    vertical-align: middle;
  }

.expertise-call {
  margin-top: 2rem;
  font-weight: 600;
}

.expertise-call {
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.expertise-call::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FB6514; 
  transition: top 0.5s ease-in-out;
  z-index: -1;
}

.expertise-call:hover::before {
  top: 0; 
}

.expertise-call:hover {
  color: white; 
  border-color: #FB6514; 
}

.expertise-call span {
  display: inline-block;
  transition: transform 0.2s ease-out;
}

    .footer-links {
      display: flex;
      gap: 15px;
    }

    .footer-link {
      width: 50px;
      height: 50px;
      background-color: #fff;
      text-align: center;
      line-height: 50px;
      font-size: 25px;
      display: block;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      border: 3px solid #fff;
      z-index: 1;
      text-decoration: none;
      transition: transform 0.08s ease-out;

    }

    .footer-link .icon {
      position: relative;
      color: #262626;
      transition: transform 0.2s ease-out;
      z-index: 3;
    }

    .footer-link:hover .icon {
      color: #fff;
      transform: rotateY(360deg);
    }

    .footer-link:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: #FD853A;
      transition: .6s;
      z-index: 2;
    }

    .footer-link:hover:before {
      top: 0;
    }

    .footer-contact-list a:hover {
      color: #FD853A; 
    }


@media (max-width: 820px) {
  .footer {
    padding: 3rem 1rem;
    text-align: center !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-title {
    font-size: 1.8rem;
    text-align: center;
  }

  .footer hr {
    width: 80%;
    border: 0;
    border-bottom: 2px solid #475467;
    margin: 1.5rem 0; /* Tambahkan lebih banyak gap */
  }

  .footer-body {
    flex-direction: column;
    gap: 2rem; /* Lebih banyak jarak antar elemen */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-content,
  .footer-contact,
  .footer-subscription {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .footer-contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .footer-contact-list a {
    font-size: 0.9rem;
  }

  .footer-subscription .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .input-group input {
    width: 80%;
    padding: 0.7rem;
    text-align: center;
    margin: auto;
  }

  .input-group button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-group button img {
    width: 20px;
  }
}
